@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<h1> <a href="https://docs.microsoft.com/aspnet/core">Super Hero List</a></h1>*@
</div>
